# DATA SCIENCE - IGTI - DESAFIO MÓDULO 2 
# Coleta/Tratamento de Dados no MySQL utilizando o Python

#Author: Maurício Gaubeur
#Email: gaubeur.m@gmail.com

#pelo jupyter notebook
#!pip install mysql-connector
#pelo anaconda
#conda install -c anaconda mysql-connector-python

In [1]:
import mysql.connector
import json
import requests        
from datetime import datetime
from datetime import date
import re

In [2]:
#Data base para apuração da idade 
data_atual = date.today()
data_atual_formatada = data_atual.strftime('%d/%m/%Y')
print("Data Atual : ", data_atual_formatada)

Data Atual :  10/10/2020

In [3]:
#deixei fora da classe porque o codigo foi extraido a internet
#https://groups.google.com/g/pug-ce/c/hlbeqjCW07M
#crédito para Moacir Bispo Filho
def yearsago(years, from_date=None):
    if from_date is None:
        from_date = datetime.now()
    try:
        return from_date.replace(year=from_date.year - years)
    except:
        # Must be 2/29!
        assert from_date.month == 2 and from_date.day == 29 # can be removed
        return from_date.replace(month=2, day=28,
                                 year=from_date.year-years)

def num_years(begin, end=None):
    if end is None:
        end = datetime.now()
    num_years = int((end - begin).days / 365.25)
    if begin > yearsago(num_years, end):
        return num_years - 1
    else:
        return num_years

In [4]:
class dataScience():  
   
    url = 'https://api-coleta-dados.herokuapp.com/api/pessoas'
    
    def __init__(self):
        print("classe Instanciada")
        
        
    def leituraapi(self):
        try:
            return requests.get(dataScience.url)   
        except:
            print("Oops! Algum erro ocorreu na leitura da Api..")
            
            
    def conexao(self,myhost='localhost',myuser='root',mypassword=''):
        try:
            mydb = mysql.connector.connect(
            host=myhost,
            user=myuser,
            password=mypassword)
            
            return mydb
            
        except Exception as e:
            print(e.args)
            print("Oops! Problema de conexão com o MySql")
            

    def conexaodb(self,myhost='localhost',myuser='root',mypassword='',mydatabase=''):
        try:
            mydb = mysql.connector.connect(
            host=myhost,
            user=myuser,
            password=mypassword,
            database=mydatabase)
            
            return mydb
            
        except error as e:
            print("Minha exceção ocorreu:" + e.valor)
            print("Oops! Problema de conexão com o Banco de Dados")

    
    def drobdb(self,conexao):
        try:
            
            mycursor = conexao.cursor()
            
            query = "drop database bootcamp"

            mycursor.execute(query)

            #Fazer a confirmação da inserção
            conexao.commit()
            
            print("drop no database bootcamp realizado com sucesso")
            
        except Exception as e:
            print(e.args)
            print("Oops! Problema de conexão com o MySql")
            
            
    def criarSchemabd(self,conexao):
        try:
            
            mycursor = conexao.cursor()
            
            query =  "CREATE SCHEMA IF NOT EXISTS `bootcamp` DEFAULT CHARACTER SET utf8mb4"
            mycursor.execute(query)
            
            query = "USE `bootcamp`"
            mycursor.execute(query)
            
            query = "CREATE TABLE IF NOT EXISTS `bootcamp`.`tb_cidade` \
                    (`id` INT NOT NULL AUTO_INCREMENT, \
                     `nome` VARCHAR(45) NOT NULL, \
                     `id_estado` INT, \
                      PRIMARY KEY (`id`)) \
                      ENGINE = InnoDB \
                      DEFAULT CHARACTER SET = utf8mb4 \
                      COLLATE = utf8mb4_0900_ai_ci;"
            mycursor.execute(query)
            
                      
            query = "CREATE TABLE IF NOT EXISTS `bootcamp`.`tb_estado` \
                    (`id` INT NOT NULL AUTO_INCREMENT, \
                     `sigla` VARCHAR(2) NOT NULL, \
                      PRIMARY KEY (`id`)) \
                      ENGINE = InnoDB \
                      DEFAULT CHARACTER SET = utf8mb4 \
                      COLLATE = utf8mb4_0900_ai_ci;"
            mycursor.execute(query)
            
            query = "CREATE TABLE IF NOT EXISTS `bootcamp`.`tb_cor` \
                    (`id` INT NOT NULL AUTO_INCREMENT, \
                     `cor` VARCHAR(45) NOT NULL, \
                      PRIMARY KEY (`id`)) \
                      ENGINE = InnoDB \
                      DEFAULT CHARACTER SET = utf8mb4 \
                      COLLATE = utf8mb4_0900_ai_ci;"
            mycursor.execute(query)
            
            query = "CREATE TABLE IF NOT EXISTS `bootcamp`.`tb_tiposanguineo` \
                    (`id` INT NOT NULL AUTO_INCREMENT, \
                     `tipo` VARCHAR(3) NOT NULL, \
                      PRIMARY KEY (`id`)) \
                      ENGINE = InnoDB \
                      DEFAULT CHARACTER SET = utf8mb4 \
                      COLLATE = utf8mb4_0900_ai_ci;"
            mycursor.execute(query)
            
            query = "CREATE TABLE IF NOT EXISTS `bootcamp`.`tb_pessoa` \
                    (`id` INT NOT NULL AUTO_INCREMENT, \
                     `nome` VARCHAR(45) NOT NULL, \
                     `idade` INT NOT NULL, \
                     `data_nasc` DATETIME NOT NULL, \
                     `sexo` VARCHAR(1) NOT NULL, \
                     `signo` VARCHAR(45) NOT NULL, \
                     `altura` FLOAT NOT NULL, \
                     `peso` FLOAT NOT NULL, \
                     `id_cidade` INT NOT NULL, \
                     `id_cor` INT NOT NULL, \
                     `id_tiposanguineo` INT NOT NULL, \
                      PRIMARY KEY (`id`)) \
                      ENGINE = InnoDB \
                      DEFAULT CHARACTER SET = utf8mb4 \
                      COLLATE = utf8mb4_0900_ai_ci;"
            mycursor.execute(query)
            
            print("Schema Criado")
            
        except Exception as e:
            print(e.args)
            print("Oops! Problema de conexão com o Banco de Dados")
            

    def inseretbEstado(self,conexao,id,sigla):
        try:
            
            mycursor = conexao.cursor()
            
            query = "INSERT INTO tb_estado (id, sigla) VALUES (%s, %s)"
            values = (id, sigla)

            mycursor.execute(query, values)

            #Fazer a confirmação da inserção
            conexao.commit()
            
        except Exception as e:
            print(e.args)
            print("Oops! Problema de conexão com o MySql")

    def inseretbCor(self,conexao,id,cor):
        try:
            
            mycursor = conexao.cursor()
            
            query = "INSERT INTO tb_cor (id, cor ) VALUES (%s, %s)"
            values = (id, cor)

            mycursor.execute(query, values)

            #Fazer a confirmação da inserção
            conexao.commit()
            
        except Exception as e:
            print(e.args)
            print("Oops! Problema de conexão com o MySql")
            
    def inseretbTipoSanguineo(self,conexao,id,tipo):
        try:
            
            mycursor = conexao.cursor()
            
            query = "INSERT INTO tb_tiposanguineo (id, tipo ) VALUES (%s, %s)"
            values = (id, tipo)

            mycursor.execute(query, values)

            #Fazer a confirmação da inserção
            conexao.commit()
            
        except Exception as e:
            print(e.args)
            print("Oops! Problema de conexão com o MySql")
            
    def inseretbCidade(self,conexao,id,nome,id_uf):
        try:
            
            mycursor = conexao.cursor()
            
            query = "INSERT INTO tb_cidade (id, nome, id_estado) VALUES (%s, %s, %s)"
            values = (id, nome, id_uf)

            mycursor.execute(query, values)

            #Fazer a confirmação da inserção
            conexao.commit()
            
        except Exception as e:
            print(e.args)
            print("Oops! Problema de conexão com o MySql")
            
            
    def inseretbPessoa(self,conexao,nome,idade,datanasc,sexo,signo,altura,peso,idcidade,idcor,idtiposanguineo):
        try:
            
            mycursor = conexao.cursor()
            
            query = "INSERT INTO tb_pessoa (nome, idade, data_nasc, sexo, signo, altura, peso, id_cidade, id_cor, \
                    id_tiposanguineo) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)"
            values = (nome, idade, datanasc, sexo, signo, altura, peso, idcidade, idcor, idtiposanguineo)

            mycursor.execute(query, values)

            #Fazer a confirmação da inserção
            conexao.commit()
            
        except Exception as e:
            print(e.args)
            print("Oops! Problema de conexão com o MySql")

**Processo de Criação da Base de Dados

In [5]:
#instância a Classe
ds = dataScience()

classe Instanciada

In [6]:
#se for necessário drop no schema
myconexao = ds.conexao('localhost','root','fvrg55472')
#drop no database/schema
ds.drobdb(myconexao)

drop no database bootcamp realizado com sucesso

In [7]:
#abre a conexão
myconexao = ds.conexao('localhost','root','fvrg55472')
#cria a Schema do banco de dados
ds.criarSchemabd(myconexao)

Schema Criado

In [8]:
#consome a api pessoas
resposta = ds.leituraapi()
if resposta.status_code != 200:
    print("algum problema na leitura")

In [9]:
data = json.loads(resposta.text)

In [11]:
#instancia as listas
#observação : os indices na lista sempre começam com Zero mas no bd eu gravo sempre como inicial 1 porisso adiciono +1 no loop
lstCores = []
lstCidade = []
lstUf = []
lstTipoSanguineo = []

#instancia um dicionario ( cidade x estado )
dictCidxUf = {}

indexador = 0
for dados in data:
    indexador += 1
    #trata as cores
    if lstCores.count(dados['cor']) == 0:
        lstCores.append(dados['cor'])
    #trata a UF
    if lstUf.count(dados['estado']) == 0:
        lstUf.append(dados['estado'])
    #trata a Cidade
    if lstCidade.count(dados['cidade']) == 0:
        lstCidade.append(dados['cidade'])
        #aqui fiz uma coisa muito loka ... crio um dicionario contendo como chave a cidade e como valor o estado
        #para depois utilizar na carga da cidade com o indice do estado
        dictCidxUf[dados['cidade']] = dados['estado'] 
    #trata a TipoSanquineo
    if lstTipoSanguineo.count(dados['tipo_sanguineo']) == 0:
        lstTipoSanguineo.append(dados['tipo_sanguineo'])

In [12]:
#trata a lista Uf
lista_ordenada_uf = sorted(lstUf)

In [13]:
myconexao = ds.conexaodb('localhost','root','fvrg55472','bootcamp')
for i, sigla in enumerate(lista_ordenada_uf):
    ds.inseretbEstado(myconexao,i+1,sigla)

print("Fim de Carga da Tabela Estado")

Fim de Carga da Tabela Estado

In [14]:
#trata a lista Cor
lista_ordenada_cor = sorted(lstCores)

In [15]:
myconexao = ds.conexaodb('localhost','root','fvrg55472','bootcamp')
for i, cor in enumerate(lista_ordenada_cor):
    ds.inseretbCor(myconexao,i+1,cor)

print("Fim de Carga da Tabela Cor")

Fim de Carga da Tabela Cor

In [16]:
#trata a lista Tipo Sanquineo
lista_ordenada_tiposanguineo = sorted(lstTipoSanguineo)

In [17]:
myconexao = ds.conexaodb('localhost','root','fvrg55472','bootcamp')
for i, tipo in enumerate(lista_ordenada_tiposanguineo):
    ds.inseretbTipoSanguineo(myconexao,i+1,tipo)

print("Fim de Carga da Tabela Tipo Sanguineo")

Fim de Carga da Tabela Tipo Sanguineo

In [18]:
#trata a lista Cidade
lista_ordenada_cidade = sorted(lstCidade)

In [19]:
myconexao = ds.conexaodb('localhost','root','fvrg55472','bootcamp')
for i, cidade in enumerate(lista_ordenada_cidade):
    #captura a uf da cidade
    getuf = dictCidxUf[cidade]
    getindiceuf = lista_ordenada_uf.index(getuf) + 1
    ds.inseretbCidade(myconexao,i+1,cidade,getindiceuf)
    

print("Fim de Carga da Tabela Cidade")

Fim de Carga da Tabela Cidade

In [20]:
#tratar a tabela pessoa
for dados in data:
    
    idade = dados['idade']
    if len(dados['data_nasc']) != 5:
        datanasc = datetime.strptime(dados['data_nasc'], '%d/%m/%Y').date()
    
    indexador += 1
    #consistencia entre features
    if ((dados['idade'] == None) and (len(dados['data_nasc']) == 5)):
        print("Problema sério para apuração de valores futuros")
        break
    
    #aqui ocorre a normalização da idade com base na data de nascimento x dia de hoje
    if dados['idade'] == None:
        #converter a data_nasc para o formato datetime
        datanasc = datetime.strptime(dados['data_nasc'], '%d/%m/%Y').date()
        #uso da função extraida da internet
        idade = num_years(datanasc, data_atual)
        print("Ajustar - Data de Nascimento : " + dados['data_nasc'] + " Idade apurada : " + str(idade))
            
    #aqui ocorre a normalização da data de nascimentoe com base na idade
    if len(dados['data_nasc']) == 5:
        #concatenação grosseira para apenas definir qual seria a data de aniversário no ano de 2020
        dataaniversario = dados['data_nasc'] + '/' + str(data_atual.year)
        #agora vou subtrair a idade do ano corrente
        novoanonasc = data_atual.year - dados['idade']
        #possivel data de nascimento
        posdatanasc = dados['data_nasc'] + '/' + str(novoanonasc) 
        #converto a possivel data de nascimento para datetime
        datanasc = datetime.strptime(posdatanasc,'%d/%m/%Y').date()
        #agora vou verificar se a idade com a data de nascimento projetada confere
        #uso da função extraida da internet
        idade = num_years(datanasc, data_atual)
        #aqui estou ajustando a data de nascimento ( possivelmente por questões e ao bissexto)
        if  (idade < int(dados['idade'])):
            novoanonasc -= 1
            posdatanasc = dados['data_nasc'] + '/' + str(novoanonasc) 
            datanasc = datetime.strptime(posdatanasc,'%d/%m/%Y').date()
            idade = num_years(datanasc, data_atual)
            if (idade != int(dados['idade'])):
                print("Realmente continuo com problema na data de nascimento")
                print("Nome da Pessoa para análise: " + dados['nome'])
            
        if  (idade > int(dados['idade'])):
            novoanonasc += 1
            posdatanasc = dados['data_nasc'] + '/' + str(novoanonasc) 
            datanasc = datetime.strptime(posdatanasc,'%d/%m/%Y').date()
            idade = num_years(datanasc, data_atual)
            if (idade != int(dados['idade'])):
                print("Realmente continuo com problema na data de nascimento")
                print("Nome da Pessoa para análise: " + dados['nome'])
            
        print("Ajustar -  Data de Nascimento possivel : " + posdatanasc + " Idade : " + str(dados['idade']))
    
    #gravar o registro da pessoa
    getindicecidade        = lista_ordenada_cidade.index(dados['cidade']) + 1
    getindicecor           = lista_ordenada_cor.index(dados['cor']) + 1
    getindicetiposanguineo = lista_ordenada_tiposanguineo.index(dados['tipo_sanguineo']) + 1
    #faco isso porque no schema a feature sexo é de apenas uma posição 
    sexo                   = dados['sexo'][0]
    #usando expressao regular para substituir a virgula por ponto para transformar em float
    dados['altura']        = re.sub(r'\,\b', '.', dados['altura'])
    
    myconexao = ds.conexaodb('localhost','root','fvrg55472','bootcamp')
    ds.inseretbPessoa(myconexao, dados['nome'], int(idade), datanasc, sexo, dados['signo'], float(dados['altura']), \
                      float(dados['peso']), getindicecidade, getindicecor, getindicetiposanguineo)
    print("Pessoa : " + dados['nome'] + " incluído com Sucesso")

Ajustar - Data de Nascimento : 12/06/1964 Idade apurada : 56
Pessoa : Silvana Hadassa incluído com Sucesso
Pessoa : Thales Kaique incluído com Sucesso
Pessoa : Henry Nathan incluído com Sucesso
Pessoa : Lorenzo Vinicius incluído com Sucesso
Ajustar -  Data de Nascimento possivel : 09/03/1970 Idade : 50
Pessoa : Cauã Henrique incluído com Sucesso
Pessoa : Francisco Thomas incluído com Sucesso
Ajustar - Data de Nascimento : 23/01/1949 Idade apurada : 71
Pessoa : Bianca Flávia incluído com Sucesso
Ajustar - Data de Nascimento : 23/12/1987 Idade apurada : 32
Pessoa : Arthur Filipe incluído com Sucesso
Ajustar - Data de Nascimento : 20/10/1968 Idade apurada : 51
Pessoa : Teresinha Jaqueline incluído com Sucesso
Pessoa : Manuel Luís incluído com Sucesso
Ajustar - Data de Nascimento : 11/07/1968 Idade apurada : 52
Pessoa : Jorge Nicolas incluído com Sucesso
Pessoa : Ricardo Paulo incluído com Sucesso
Pessoa : Gustavo Joaquim incluído com Sucesso
Pessoa : Isabel Yasmin incluído com Sucesso
Ajustar -  Data de Nascimento possivel : 22/01/1999 Idade : 21
Pessoa : Daniel Lucca incluído com Sucesso
Pessoa : Benício Guilherme incluído com Sucesso
Ajustar - Data de Nascimento : 08/05/2002 Idade apurada : 18
Pessoa : João Pedro incluído com Sucesso
Pessoa : Sandra Milena incluído com Sucesso
Ajustar -  Data de Nascimento possivel : 15/04/1971 Idade : 49
Pessoa : Antonio Sérgio incluído com Sucesso
Pessoa : Arthur Sérgio incluído com Sucesso
Pessoa : Larissa Esther incluído com Sucesso
Ajustar - Data de Nascimento : 18/04/1942 Idade apurada : 78
Pessoa : Thales Bento incluído com Sucesso
Pessoa : Breno Rafael incluído com Sucesso
Pessoa : Tiago Gael incluído com Sucesso
Ajustar - Data de Nascimento : 25/11/1959 Idade apurada : 60
Pessoa : Carolina Márcia incluído com Sucesso
Ajustar - Data de Nascimento : 21/08/1949 Idade apurada : 71
Pessoa : Levi Sérgio incluído com Sucesso
Pessoa : Juan Theo incluído com Sucesso
Ajustar -  Data de Nascimento possivel : 10/01/1950 Idade : 70
Pessoa : Rafael Ryan incluído com Sucesso
Pessoa : Malu Emilly incluído com Sucesso
Pessoa : Alice Bárbara incluído com Sucesso
Ajustar -  Data de Nascimento possivel : 15/01/1985 Idade : 35
Pessoa : Martin Edson incluído com Sucesso
Pessoa : Danilo Jorge incluído com Sucesso
Ajustar - Data de Nascimento : 03/07/1999 Idade apurada : 21
Pessoa : Isadora Sueli incluído com Sucesso
Pessoa : Maya Tatiane incluído com Sucesso
Ajustar -  Data de Nascimento possivel : 14/09/1963 Idade : 57
Pessoa : Bruno Manuel incluído com Sucesso
Pessoa : Gabriel Luan incluído com Sucesso
Pessoa : Henry Elias incluído com Sucesso
Pessoa : Marcela Laura incluído com Sucesso
Pessoa : Amanda Luna incluído com Sucesso
Ajustar - Data de Nascimento : 07/09/1973 Idade apurada : 47
Pessoa : Caio Ricardo incluído com Sucesso
Pessoa : Mariane Sabrina incluído com Sucesso
Pessoa : Juliana Vanessa incluído com Sucesso
Ajustar - Data de Nascimento : 11/02/1989 Idade apurada : 31
Pessoa : Milena Rosângela incluído com Sucesso
Pessoa : Osvaldo Augusto incluído com Sucesso
Pessoa : Nathan Igor incluído com Sucesso
Pessoa : Letícia Patrícia incluído com Sucesso
Pessoa : Sophia Andrea incluído com Sucesso
Pessoa : Aurora Lúcia incluído com Sucesso
Pessoa : Bruna Teresinha incluído com Sucesso
Ajustar -  Data de Nascimento possivel : 08/10/1968 Idade : 52
Pessoa : Erick Victor incluído com Sucesso
Pessoa : Gabrielly Stella incluído com Sucesso
Pessoa : Osvaldo Vitor incluído com Sucesso
Pessoa : Alana Kamilly incluído com Sucesso
Pessoa : Bryan Kaique incluído com Sucesso
Pessoa : Benedito Renato incluído com Sucesso
Ajustar - Data de Nascimento : 16/12/1971 Idade apurada : 48
Pessoa : Kaique Isaac incluído com Sucesso
Pessoa : Luiz Benjamin incluído com Sucesso
Ajustar -  Data de Nascimento possivel : 24/12/1944 Idade : 75
Pessoa : Fábio Roberto incluído com Sucesso
Ajustar - Data de Nascimento : 18/01/1978 Idade apurada : 42
Pessoa : Evelyn Julia incluído com Sucesso
Ajustar - Data de Nascimento : 04/01/1988 Idade apurada : 32
Pessoa : Otávio Cláudio incluído com Sucesso

In [21]:
#encerra a conexao
try:
    myconexao.close()
    print("Conexão encerrada")
except Exception as e:
    print(e.args)

Conexão encerrada

In [ ]:
'''
#questao 1
#select count(idade) from bootcamp.tb_pessoa where idade >= 50

#questao 2
select avg(idade) from bootcamp.tb_pessoa as pessoa, bootcamp.tb_cidade as cidade,
bootcamp.tb_estado as estado where (pessoa.id_cidade = cidade.id) and
(cidade.id_estado = estado.id) and (estado.sigla = 'MT')

#questão 3
select count(data_nasc) from bootcamp.tb_pessoa
where (data_nasc > '1967-12-31') and (data_nasc < '1979-01-01')

#questão 4
select count(*) from bootcamp.tb_pessoa inner join
bootcamp.tb_tiposanguineo on bootcamp.tb_pessoa.id_tiposanguineo =
bootcamp.tb_tiposanguineo.id inner join bootcamp.tb_cidade on
bootcamp.tb_pessoa.id_cidade = bootcamp.tb_cidade.id inner join
bootcamp.tb_estado on bootcamp.tb_cidade.id_estado = bootcamp.tb_estado.id where
bootcamp.tb_tiposanguineo.tipo like "AB-" and 
(bootcamp.tb_estado.sigla like "AP" or bootcamp.tb_estado.sigla like "PE")

#questao 5
select nome, idade, data_nasc from bootcamp.tb_pessoa order by idade desc, datanasc asc limit 1

#questao 6
select nome, idade, data_nasc from bootcamp.tb_pessoa order by idade asc limit 1


'''